__pycache__/
*.pyc
admin_password.txt
THEMES_A_VERIFIER.txt
assets/Wolofalu-Jumaa-ji.pdf
assets/njuuj_njaaj.pdf
assets/magal_yi.pdf
assets/marsiya-seex-ndaam.pdf
assets/ay_wolofal_soxna_may.pdf
assets/kadduy_serign_mbay_jaxate_v3.pdf
assets/jazbul_majzoob.pdf
